//https://github.com/editorconfig/editorconfig-vim

root = true

[*]
indent_style = space
indent_size = 2
tab_width = 78
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off
// let g:EditorConfig_exec_path = 'Path to your EditorConfig Core executable'
// jsFormat && VIM-JSBEAUTIY // https://github.com/maksimr/vim-jsbeautify
// flatland theme
//https://github.com/vim-airline/vim-airline